html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0 !important;
}

#wrap {
  overflow: hidden !important;
}

.row {
  margin: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

button {
  border: none;
  background-color: none;
}

#luxy {
  overflow: hidden;
  background-color: rgba(241, 237, 232, 0.2);
}

.margin-top {
  margin-top: 8vh;
}

.section_title {
  margin-top: 10vh;
  font-weight: 900;
}

p {
  font-size: 16px;
}

.gotop, nav .container-fluid .row .col-lg-12, nav .container-fluid .row .col-lg-12 .logo, nav .container-fluid .row .col-lg-12 ul, nav .container-fluid .row .col-lg-12 ul :hover .toggle_section, section.section_header .container-fluid .row .col-lg-12, section.section_advatage .container .row .col-lg-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section_team .container .row .col-lg-12, section.section_team .container .row .col-lg-12 .txt, section.section_team .container .row .col-lg-12 .img, section.section_space .container_fluid .row .col-lg-12, section.section_space .container_fluid .row .col-lg-12 .txt, section.section_advatage .container .row .col-lg-3, section.section_advatage .container .row .col-lg-3 .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.section_header .container-fluid .row .col-lg-12 {
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.gotop {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #b3afaf;
  color: #333;
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

.gotop p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gotop:hover {
  cursor: pointer;
}

.mobile_nav {
  display: none;
  background-color: #141414;
  width: 100%;
  position: fixed;
  left: 0;
  top: 55px;
}

.mobile_nav ul {
  border-bottom: 1px solid #5f5f5f;
  padding: 0;
}

.mobile_nav ul li {
  color: #ebe5dc;
  margin: .5rem 0;
}

.mobile_nav ul li p {
  margin-left: 10px;
  font-size: 1.2rem;
  position: relative;
}

.mobile_nav ul li i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mobile_nav ul li .toggle_section,
.mobile_nav ul li .toggle01 {
  display: none;
}

.mobile_nav ul li .toggle_section ul,
.mobile_nav ul li .toggle01 ul {
  padding: 0 1rem;
}

nav {
  width: 100%;
  padding: 15px 0;
  background-color: #141414;
}

nav .container-fluid .row .col-lg-12 {
  width: 100%;
}

nav .container-fluid .row .col-lg-12 .logo {
  width: 30%;
  font-size: 1.5rem;
  color: #ebe5dc;
}

nav .container-fluid .row .col-lg-12 .logo h4 {
  margin: 0;
}

nav .container-fluid .row .col-lg-12 :hover {
  cursor: pointer;
}

nav .container-fluid .row .col-lg-12 ul {
  width: 70%;
}

nav .container-fluid .row .col-lg-12 ul i {
  display: none;
  color: #ebe5dc;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

nav .container-fluid .row .col-lg-12 ul li {
  position: relative;
  padding: 0 20px;
  color: #ebe5dc;
}

nav .container-fluid .row .col-lg-12 ul li .toggle_section {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 9999999999;
  position: absolute;
  width: 20vmin;
  background-color: #1d1d1d;
}

nav .container-fluid .row .col-lg-12 ul li .toggle_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav .container-fluid .row .col-lg-12 ul li .toggle_section ul li {
  color: silver;
  width: 100%;
  text-align: left;
  padding: 1rem;
  color: #ebe5dc;
  border-bottom: 1px dotted #afaeae;
}

nav .container-fluid .row .col-lg-12 ul li .toggle_section ul :hover {
  background-color: #7e7e7e;
}

nav .container-fluid .row .col-lg-12 ul :hover {
  cursor: pointer;
}

nav .ul_wrap {
  position: absolute;
  right: 10%;
  width: 40%;
  height: 50vh;
  border: 1px solid #000;
}

section.section_header .container-fluid .row .col-lg-12 {
  background-color: #333;
}

section.section_header .container-fluid .row .col-lg-12 h1 {
  color: #ebe5dc;
  padding: 190px 0;
}

section.section_team {
  padding: 130px 0;
}

section.section_team .container .row .col-lg-12 .txt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

section.section_team .container .row .col-lg-12 .img {
  width: 345px;
  font-size: 3rem;
  height: 345px;
  background-color: #333;
  color: #ebe5dc;
}

section.section_space {
  background-color: #333;
  padding: 130px 0;
}

section.section_space .container_fluid .row .col-lg-12 .txt {
  padding: 40px 0;
}

section.section_space .container_fluid .row .col-lg-12 .txt h1 {
  color: white;
}

section.section_advatage {
  padding: 130px 0;
}

section.section_advatage .container .row .col-lg-12 h1 {
  margin-bottom: 70px;
}

section.section_advatage .container .row .col-lg-3 b {
  margin: 10px 0;
}

section.section_advatage .container .row .col-lg-3 .img {
  width: 150px;
  height: 150px;
  background-color: #333;
}

section.section_advatage .container .row .col-lg-3 .txt {
  height: 15vmin;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer {
  background-color: #141414;
}

footer .container-fluid {
  padding: 3rem 0 1rem 0;
}

footer .container-fluid .row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 30vmin;
}

footer .container-fluid .row .col-lg-3 {
  padding: 3rem 1.5rem;
}

footer .container-fluid .row .col-lg-3 .footer_title {
  padding: .3rem 0;
  color: #ebe5dc;
  border-bottom: 1px dotted #858585;
}

footer .container-fluid .row .col-lg-3 .txt p {
  color: #ebe5dc;
}

footer .container-fluid .row_bottom {
  border: none;
}

footer .container-fluid .row_bottom .col-lg-12 .txt {
  margin-top: 15px;
}

footer .container-fluid .row_bottom .col-lg-12 .txt p {
  color: #ebe5dc;
}

@media screen and (max-width: 1024px) {
  footer .container-fluid .row {
    padding: 0 2vmin;
  }
}

@media screen and (max-width: 768px) {
  .toggle_section {
    left: -20px;
  }
  nav .container-fluid .row .col-lg-12 ul {
    width: 80%;
  }
  nav .container-fluid .row .col-lg-12 ul li {
    padding: 15px;
  }
  nav .container-fluid .row .col-lg-12 .logo {
    width: 20%;
  }
}

@media screen and (max-width: 991px) {
  .pad_dispear {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .gotop {
    display: none;
  }
  section.section_advatage .container .row .col-lg-3 {
    padding: 2.5rem 0;
  }
  nav .container-fluid .row .col-lg-12 .logo {
    width: 50%;
  }
  nav .container-fluid .row .col-lg-12 ul {
    position: relative;
    width: 50%;
    border: none;
  }
  nav .container-fluid .row .col-lg-12 ul li {
    display: none;
  }
  nav .container-fluid .row .col-lg-12 ul i {
    display: block;
    font-size: 1.7rem;
  }
  nav {
    position: fixed;
  }
  .nav .container-fluid .row .col-lg-12 ul i:hover .mobile_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */